@page "/login"
@using Zadanie_2.UI.Models
@using Microsoft.AspNetCore.Components.Forms

<h3>Login</h3>

<EditForm Model="@user" OnValidSubmit="@HandleLogin">
    <InputText @bind-value="user.Username" placeholder="Username" />
    <InputText @bind-value="user.Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private UserModel user = new();

    private void HandleLogin()
    {
        Console.WriteLine($"Login: {user.Username}, {user.Password}");
        // Tu później dojdzie wysyłka do API
    }
}
